

 .background-image {
    background: url('../assets/image/huella4.jpeg') no-repeat center center fixed;
       /*background: linear-gradient(135deg, #2c5ffa, #0a0a9c, #030356);*/
     background-size: cover;
     height: 100vh;
     display: flex;
     justify-content: center;
     align-items: center;
     color: white;
 }
 
 .card {
     box-shadow: 0px 0px 3px #03220a;
     width: 280px;
     height: 280px;
     zoom: 1.3;
     
     
 }
 

 
 
 .container_radios {
     display: flex;
     justify-content: center; /* Centra horizontalmente los elementos dentro del contenedor */
 }
 
 .form-check {
     display: flex;
     align-items: center; /* Alinea verticalmente los elementos */
     margin-right: 20px; /* Espacio de 20px entre los radios */
     
 }
 
 .form-check-label {
     margin-left: -1px; /* Espacio entre el radio y el texto */
 }
 
 .button-container {
     display: flex; /* Utiliza flexbox para alinear los elementos en una fila */
     justify-content: space-around; /* Distribuye el espacio entre los elementos */
     margin-top: 20px; /* Margen superior para separar del contenido superior */
 }
 



.btn-custom {
    background-color: #2ad230; /* Color verde personalizado */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
    
}

.btn-custom-danger {
    background-color: #f21c0c; /* Color rojo personalizado */
    color: white; /* Color del texto */
    border: none; /* Sin borde */
}

.btn-custom:hover, .btn-custom-danger:hover {
    opacity: 0.8; /* Efecto de opacidad al pasar el mouse */
}






.shadow-success {
    box-shadow: 0 0 12px 3px rgba(0, 255, 0, 0.9);
}

.shadow-danger {
    box-shadow: 0 0 12px 3px rgba(255, 0, 0, 0.9);
}





