<section class="d-flex justify-content-center align-items-center m-auto background-image">
    <div class="form" style="max-width: 900px;">
        <div class="card shadow p-3 mb-5 bg-white rounded">
            <div class="card-body">
              <h5 class="card-title text-center mb-4" style="font-style: italic;">Indica la función que deseas realizar</h5>
              <div class="btn-group">
                <a href="/register/" class="btn btn-outline-primary" role="button">Registrar trabajador</a>
                <a href="/register_admin/" class="btn btn-outline-primary">Registrar admin</a>
                <a href="/get_marks/" class="btn btn-outline-primary" role="button">Obtener marcas</a>
                <a href="/mark/" class="btn btn-outline-primary" role="button">Realizar una marca</a>
                <button type="submit" (click)="redirectToPDF()" class="btn btn-outline-primary">Reporte mensual</button>
              </div>
            </div>
          </div>
      
    </div>
</section>